.card {
    background-color: $bg-light-grey;
    border-radius: 5px;
    padding: 2rem;

    h4 {
        font-weight: bold;
    }

    p {
        font-size: 0.875rem;
        min-height: 4rem;
    }
}
