.filters {
    a {
        display: block;
        position: relative;
        padding-left: 1.5em;
        margin-bottom: 1rem;
        color: $brand-primary;

        &:before {
            display: inline-block;
            content:'';
            position: absolute;
            left:0;
            top: 0.25em;
            height: 1em;
            width: 1em;
            border-radius: 50%;
            border: 1px solid $brand-primary;
        }

        &.active:before {
            background: $brand-primary;
        }
    }
}

.filter {

    &-wrap {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;

        .labels {
            flex: 0 0 5rem;
            padding-top: 0.2rem;
        }

        .buttons {
            flex: 1;
            display: block;
        }

    }

    position: relative;
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius;
    cursor: pointer;
    text-transform: capitalize;
    height: $button-height;
    padding: 0 0.8rem 0.07rem 0.8rem;
    margin: 0 1rem 1rem 0;
    font-size: 0.9rem;
    font-weight: 400;
    color: $brand-black;
    white-space: nowrap;
    border: 1px solid $brand-primary;
    background: none;
    color: $brand-primary;
    text-shadow: none !important;

    &.selected {
        border: 1px solid $brand-secondary;
        background: $brand-secondary;
        color: white;
    }

}
