.icon {
    height: 1.3em;
    width: 1.3em;
    object-fit: contain;
    vertical-align: middle;
    transition: background-color 0.3s ease;

    &.avatar {
        height: 1.563rem;
        width: 1.563rem;
        object-fit: cover;
        border-radius: 50%;

        &.square {
            border-radius: none;
        }

        &.lg {
            height: 2.188rem;
            width: 2.188rem;
        }
    }

    &.primary {
        background-color: $brand-primary
    }

    &.secondary {
        background-color: $brand-secondary
    }

    &.white {
        background-color: white;

        &:hover {
            background-color: $brand-secondary
        }
    }

    &.green {
        background-color: $brand-green;
    }

    &.red {
        background-color: $brand-red;
    }

    &.black {
        background-color: $brand-black
    }

    &.light-grey {
        background-color: $bg-grey;
    }

    &.grey {
        background-color: $text-grey;
    }

    &.nudge {
        &-up {
            top:-0.075em;
        }
        &-down {
            top:0.075em;
        }
    }

    use('plugins/toLowerCase.js')

    for $mask in Absence Add ArrowUp ArrowDown ArrowLeft ArrowRight Block Calendar CardPayment CheckIn Checkout Client Close Color Confirm Delete Duplicate Edit LinkAppt Merge Move NoShow Note Bell Options Overview Product Paid Promote Rebook Reminder Reports Sale Salon Search Services Settings SignIn SignOut Stylist Status Target Tasks Time Tick Transaction UndoCheckIn View Voucher Message SideMenuExpand SideMenuCollapse Unconfirmed UnlinkAppt {

        &.{toLowerCase($mask)} {
            -webkit-mask-image: url('/icons/masks/Icon-' + $mask + '.svg');
            mask-image: url('/icons/masks/Icon-' + $mask + '.svg');
            -webkit-mask-size: contain;
            mask-size: contain;
            -webkit-mask-position: center;
            mask-position: center;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            display: inline-block;
            vertical-align: middle;
            position: relative;
        }

    }

    &-circle {

        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top:0;
        left:0
        height: 1.2em;
        width: 1.2em;
        border-radius: 50%;
        background-color: $brand-primary;

        span {
            height: 0.75rem;
            width: 0.75rem;
            display: block;
            margin:0 !important;
        }

        &.unconfirmed {
            background-color: white;
        }

        &.confirmed {
            background-color: $confirmed;
        }

        &.checkedin {
            background-color: $checked_in;
        }

        &.paid {
            background-color: $paid;
        }

        &.cancelled {
            background-color: $cancelled;
        }

    }

    &.left {
        margin-right: 0.800em;
    }

    &.right {
        margin-left: 0.800em;
    }

    &.sm {
        height: 0.85em;
        width: 0.85em;
    }

    &.align {
        height: 1em;
        width: 1em;
        vertical-align: middle;
        margin-top:-3px;
    }

    &.lg {
        height: 1.450em;
        width: 1.450em;
    }

    &.xl {
        height: 2em;
        width: 2em;
    }

    &.xxl {
        height: 3em;
        width: 3em;
    }

}

.context {
    .icon {
        height: 1.3em;
        width: 1.3em;
        object-fit: contain;
    }
}

.is-today .icon {
    background-color: white !important;
}
