form.stripe {

    #card-element {
        background-color: white;
        padding: 1rem;
        border-radius: 2rem;
        margin:2rem 0
    }

}


    .ElementsApp, .ElementsApp .InputElement {
        font-size: 13px !important;
    }
