phone_width = 851px;
phone_width_min = phone_width+1
tablet_width = 1180px;

$brand-primary = #000 //#57166C
$brand-secondary = #B6975B
$brand-primary-light = #E6DECC //#AC7CC0
$brand-primary-dark = #072941 //#6B2F7F
$brand-primary-input = #D7BEE0
$brand-black = #505050

$brand-dark = #000
$brand-light = #57166C
$brand-pink = #FFAAAA
$brand-red = #ED6970
$brand-green = #40A894

$text-dark = #000
$text-darker-grey = #202124
$text-dark-grey = #343638
$text-grey = #888888
$text-light-grey = #f2f2f2
$text-light = #fff

$bg-grey = #CCCCCC
$bg-grey-1 = #DDDDDD
$bg-grey-2 = #EFEFEF
$bg-dark-gradient = transparent linear-gradient(180deg, #393939 0%, #000000 100%) 0% 0% no-repeat padding-box;
$bg-dark-gradient-transparent = linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.37) 53%, rgba(0,0,0,0) 100%);
$bg-light-grey = #f6f6f6
$bg-error = $brand-red

$light_grey = $bg-light-grey

$button-height = 2.188rem

$border-radius = 1.5rem
$appt-radius = 0.5rem

$shadow = 0px 1px 0px #e8e8e8
$shadow-medium = 1px 5px 10px rgba(0,0,0,0.1)
$shadow-large = 1px 15px 20px rgba(0,0,0,0.5)

$shadow-top = 0px -5px 5px rgba(0,0,0,0.03)

$highlight = 0px 0px 0px 1px $brand-secondary


$pulse = pulseHighlightShadow 0.8s 10 ease

@keyframes pulseHighlightShadow {
    0% {
        box-shadow: 0px 0px 0px 0px $brand-secondary;
    }
    100% {
        box-shadow: 0px 0px 0px 10px rgba(255,255,255,0);
    }
}

$goLarge = goLarge 10s 1 ease

@keyframes goLarge {
    0% {
        z-index: 999;
        transform: scale(1);
        box-shadow: 0 0 0 rgba(0,0,0,0.1)
    }
    1% {
        transform: scale(1.1);
        box-shadow: 1px 15px 5px rgba(0,0,0,0.4), 0px 0px 0px 2px rgba(255,255,255,1)
    }
    2% {
        z-index: 999;
        transform: scale(1);
        box-shadow: 1px 5px 5px rgba(0,0,0,0.3)
    }
    5% {
        transform: scale(1.1);
        box-shadow: 1px 15px 5px rgba(0,0,0,0.4), 0px 0px 0px 2px rgba(255,255,255,1)
    }
    98% {
        transform: scale(1.1);
        box-shadow: 1px 15px 5px rgba(0,0,0,0.4), 0px 0px 0px 2px rgba(255,255,255,1)
    }
    100% {
        z-index: 1;
        transform: scale(1);
        box-shadow: 0 0 0 rgba(0,0,0,0.1)
    }
}



$calendar-day-height = 80rem



// appointments

$confirmed = $brand-black
$unconfirmed = $bg-light-grey
$salon_confirmation = white
$checked_in = $brand-secondary
$cancelled = $bg-error
$new = rgb(139, 255, 158)
$paid = $brand-primary-light
$deleted = $bg-grey-1
$no_show = $bg-error
