<% layout('page.ejs') -%>

<section class="vh-80 text-left bg-light-grey">

    <div class="contain flex h-100">

        <div class="flex flex-column flex-middle-left h-100" anim="{'enter':'move-up','delay':'0.5s'}">
            <h1 class="uppercase">Professional Salon Management. <b>SalonStream</b>.</h1>
        </div>

        <div class="flex flex-middle-left h-100">

        </div>

    </div>

</section>
