<div class="salon_confirmation">
    Unconfirmed by Salon<span class="icon right black salon"></span>
</div>
<div class="unconfirmed">
    Unconfirmed by Client<span class="icon right black client"></span>
</div>
<div class="confirmed">
    Confirmed<span class="icon black confirm right"></span>
</div>
<div class="checked_in">
    Checked In<span class="icon black checkin right"></span>
</div>
<div class="paid">
    Paid<span class="icon right black paid"></span>
</div>
<div class="cancelled">
    Cancelled by Client<span class="icon right red noshow"></span>
</div>
<div class="reschedule">
    Client Reschedule Request<span class="icon right red rebook"></span>
</div>
<div class="no_show">
    Client No Show<span class="icon right white noshow"></span>
</div>
