<div class="modal" app-show="view.modal == 'staff_absence_confirm'" anim="{'enter':'fade-in'}">

    <div class="modal-body" anim="{'enter':'move-up','duration':'0.2'}">

        <div class="grid col-2 pb-1">
            <div>
                <h4 class="text-light">Confirm Dates</h4>
            </div>
            <div class="text-right">
                <h4 class="close-icon clickable" onclick="modalCloseAll()">&times;</h4>
            </div>
        </div>

        <div class="mt-2 mb-4 table item-list" style="max-width: 50vw">

            <div app-for="appointment in appointments" class="row">

                <div class="cell">
                    <div class="flex w-100">
                        <span class="flex-none icon calendar secondary left"></span>
                        <span app-bind="appointment.staff_name" class="flex-2 text-weight-600"></span>
                        <div app-hide="appointment.description == 'not_available'">
                            <span app-bind="parseISODate(appointment.date,'ddd Do MMM h:mma')" class="flex-2 text-weight-600 text-center"></span>
                            <span class="flex-none text-center">-</span>
                            <span app-bind="parseISODate(appointment.end_date,'ddd Do MMM h:mma')" class="flex-2 text-weight-600 text-center"></span>
                        </div>
                        <div app-show="appointment.description == 'not_available'">
                            <span app-bind="parseISODate(appointment.date,'ddd Do MMM')" class="flex-2 text-weight-600 text-center"></span>
                            <span class="ml-1">All day, not available</span>
                        </div>
                    </div>
                </div>
                <div class="cell text-right" style="width: 5rem;" app-click="newStaffAppointment('remove',{{index}})"><span class="icon close secondary"></span></div>

            </div>

        </div>

        <div class="flex flex-middle-right pb-1">

            <button class="btn border mr-1" onclick="modalCloseAll()">Cancel</button>
            <button class="btn bg-secondary" app-click="newAppointment('save','staff_availability')">Add to calendar</button>

        </div>


    </div>
</div>
