<div class="modal" app-show="view.modal == 'show_edit'" anim="{'enter':'fade-in'}">

    <div class="modal-body p-0 w-60 w-m-90" anim="{'enter':'move-up','duration':'0.2'}">

        <div class="modal-header text-primary">
            <div class="title">
                <p class="m-0">
                    Staff Member
                </p>
            </div>
            <div class="close">
                <!-- <span class="icon close white clickable" onclick="modalCloseAll()"></span> -->

                <div class="btn-wrap">
                    <button class="btn btn-left border mr-1 text-primary" app-click="view.tab = 'one'" app-class="{'active':view.tab == 'one'}">Details<span class="icon edit black right"></span></button>
                    <button class="btn btn-right border text-primary" app-click="view.tab = 'two'" app-class="{'active':view.tab == 'two'}">Skills and Access<span class="icon stylist black right"></span></button>
                </div>
            </div>
        </div>

        <div class="modal-content p-2">

            <div app-show="view.tab == 'one'">

                <div class="grid col-2 gap-1">

                    <div>

                        <div class="grid col-4 mb-1">
                            <div class="" app-init="new.avatar = ''" style="width: 5rem">
                                <label>Staff Image</label>
                                <label for="image_1" class="clickable" id="fileDisplayArea">
                                    <img src="/images/avatars/DR_Icon_AddAvatar.svg" app-src="new.avatar" class="avatar">
                                </label>
                                <input id="image_1" type="file" app-model="new.avatar">
                            </div>
                            <div class="colspan-3 grid col-1 gap-1">
                                <div>
                                    <label>First Name</label>
                                    <input type="text" app-model="new.name.first" placeholder="First name" class="rounded">
                                </div>
                                <div>
                                    <label>Last Name</label>
                                    <input type="text" app-model="new.name.last" placeholder="Last name" class="rounded">
                                </div>
                                <div>
                                    <label>Email Address</label>
                                    <input type="email" app-model="new.email" placeholder="Email" class="rounded">
                                </div>

                                <div class=""><label>Mobile Number</label><input type="text" app-model="new.tel" placeholder="Telephone" class="rounded"></div>


                            </div>

                        </div>


                    </div>
                    <div>
                        <label>Description for the website</label>
                        <textarea app-model="new.bio" placeholder="Add some information for the website" style="height: 18rem" class="rounded"></textarea>
                    </div>


                </div>
            </div>

            <div app-show="view.tab == 'two'">

                <div class="">
                <div class="grid col-3 gap-1">

                    <% if (typeof user != 'undefined' && user.role >= 2 || typeof user != 'undefined' && user.guard == 'admin' || typeof member != 'undefined' && member._key == user._key){ %>

                        <div>
                            <label>Password </label>
                            <div class="iconInput">
                                <input id="pass" type="password" app-model="new.password" placeholder="Password" class="rounded">
                                <div class="iconInputIcon" onclick="showHideFun('pass2')"><i class="fa fa-eye" aria-hidden="true"></i></div>
                            </div>
                        </div>
                        <div>
                            <label>Switch User PIN</label>
                            <input type="password" app-model="new.pin" placeholder="PIN" class="rounded">
                        </div>

                    <% } %>

                    <% if (typeof user != 'undefined' && user.role >= 2 || typeof user != 'undefined' && user.guard == 'admin'){ %>

                        <div class=""><label>Staff Access</label>
                            <div class="" app-show="salon.roles">
                                <select app-model="new.role" class="rounded">
                                    <option value="" selected>None</option>
                                    <option app-value="role._id" app-for="role in salon.roles" app-bind="role.name"></option>
                                </select>

                            </div>
                            <div app-hide="salon.roles">
                                <a href="/dashboard/salon" class="text-primary italic" app-hide="salon.roles">Please add access types from the Salon Staff Settings tab</a>
                            </div>
                        </div>
                        <div class="">
                            <label>Staff Pricing Level</label>
                            <select app-model="new.level" class="rounded">
                                <option value="" selected>None</option>
                                <option app-value="{{index}}" app-for="level in salon.levels" app-bind="level.name"></option>
                            </select>
                            <a href="/dashboard/salon" class="text-primary italic" app-hide="salon.levels">Please add pricing levels from the Salon Staff Settings tab</a>
                        </div>
                        <div class=""><label>Hourly Rate</label><input type="text" app-model="new.hourly_rate" placeholder="Hourly Rate" class="rounded"></div>
                    </div>
                        <div class="colspan-4 mt-2">

                            <label class="text-primary text-bold">Staff Service Skills</label>
                            <div class="divider mb-2 "></div>

                            <div class="grid col-2 gap-2 mt-1">
                                <% if (salon.skills){ %>
                                    <% salon.skills.forEach((item,i)=>{ %>
                                        <label class="text-black"><input type="checkbox" app-click="push(new.skills,'<%- item._id %>')" app-checked="inArray(new.skills,'<%- item._id %>')" class="mr-1"><%-item.name %></label>
                                    <% }) %>
                                <% } %>
                            </div>
                            <div app-hide="salon.skills">
                                <a href="/dashboard/salon" class="text-primary italic" app-hide="salon.roles">Please add skills from the Salon Service Settings tab</a>
                            </div>

                        </div>

                    <% } %>

                </div>
               
            </div>

        </div>
<!--
        <div app-show="view.tab == 'three'">

            <label>Working Hours</label>
            <div class="grid col-3 gap-1 mb-1" app-for="times in new.working_hours">

                <div class=""><div app-bind="getDay({{index}})"></div><div app-bind="times.open"></div></div>
                <div class="">
                    <select app-model="times.open">
                        <option app-value="closed">Closed</option>
                        <option app-for-sub="hrs in getHrs" app-value="hrs" app-bind="hrs"></option>
                    </select>
                </div>
                <div class="">
                    <select app-model="times.close">
                        <option app-value="closed">Closed</option>
                        <option app-for-sub="hrs_close in getHrs" app-value="hrs_close" app-bind="hrs_close"></option>
                    </select>
                </div>
            </div>

        </div> -->

        <div class="modal-appointment-actions flex flex-middle-right">
            <a class="btn bg-secondary" app-click="saveStaffMember()">
                <span app-show="new._key">Save Staff Member<span class="icon tick white right"></span></span>
                <span app-hide="new._key">Add Staff Member <span class="icon add white right"></span></span>
            </a>
        </div>

    </div>

</div>

<div class="modal" app-show="view.modal == 'show_delete'" anim="{'enter':'fade-in'}">

    <div class="modal-body" anim="{'enter':'move-up','duration':'0.2'}" style="max-width: 700px">

        <div class="grid col-12 pb-1 gap-1">
            <div class="colspan-11">
                <h4 class="text-light mb-1">
                    Remove Staff Member?
                </h4>
                <p>This will keep the staff member in the database as a historical record, but will remove them from this list. Clients will no longer be able to book appointments with them.<br><br><b>This cannot be undone.</b></p>
            </div>
            <div class="text-right">
                <h4 class="close-icon text-light clickable" onclick="modalCloseAll()">&times;</h4>
            </div>

        </div>
        <div class="grid col-2 pb-1 gap-1">
            <div class="text-right pt-1">
                <a class="btn border w-100" onclick="modalCloseAll()">
                    Cancel
                </a>
            </div>

            <div class="text-right pt-1">
                <a class="btn bg-secondary w-100" app-click="delete('staff',new._key)">
                    Delete
                </a>
            </div>
        </div>

    </div>

</div>

<script>
    function showHideFun() {
        var x = document.getElementById("pass");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
