<% layout('customer-page.ejs') -%>

    <div class="py-4 page text-left contain">

        <a href="/account" class="text-primary block mb-2">< Back to your account</a>

        <h3 class="mb-2">Bookings policy</h3>

        <p>A deposit is required to secure and confirm any booking.</p>

        <p>All bookings placed by whatever method will be provisional until confirmed. Once you make a provisional booking, you will then receive a text message and / or e-mail containing a link which you should follow to confirm the booking.</p>

        <p>All provisional appointments will only be held for 24 hours and maybe cancelled after that time if not confirmed by following the link after making a provisional booking in the manner described above.</p>

        <p>A booking confirmation will require a deposit or pre-authorisation payment by card online at the time of confirming the booking. You authorise the deduction of the deposit from your card, and the deduction of any payment due as a result of the terms below governing late cancellations (within 48 hours of the booking) or bookings which are not attended.</p>

        <p>Deposits are non-refundable if you are unable to or do not attend your appointment.</p>

        <p>We understand that things crop up from time to time and appointments need to be changed we ask that you treat us with respect and follow our cancellation policy and we will return the same to you.</p>

        <p>If you wish to cancel or reschedule your appointment you can do free of charge save for the deposit up to 48 hours before your appointment.</p>

        <p>If you cancel or reschedule an appointment within 48 hours of the booked date and time, you agree to pay 50% of the charge that would have been paid for the booked service on the day of the booking. That 50% charge will be credited to your account for you to use on a future visit to the salon.</p>

        <p>If you do not attend your booked appointment and did not cancel or reschedule in advance you agree to pay 100% of the charge that would have been paid for the booked service on the day of the booking. You agree to pay this as a no-show causes us to incur a loss as we incur all overheads and staff salaries for the booked appointment, without the ability to offer it to another customer, and so payment in full is due even if you do not attend. That charge will not be available for you to use on a future visit to the salon.</p>

        <p>All cancellations and rescheduling of appointments should be done through your online account.</p>

        <p>David Rozman Ltd does not store any of your credit card information. This information is encrypted and transferred to our PCI DSS compliant payment processor, to complete your transaction. Card details entered are stored securely by our card processing provider. The card details will be used as security for future appointments in accordance with our terms and conditions. A check is made each time you make a booking to ensure your card is still valid. You confirm you have the authority to use the card. You confirm your authority for it to be charged for payments due for products or services or otherwise arising under our terms and conditions. If your card is not valid or is expired our website will prompt you to enter new card details prior to your booking being made.</p>

        <p>If you have a nil balance and no outstanding bookings which may attract a charge and wish to have your payment details removed/edited from our system including from our card processing provider please contact the salon by emailing <a href="mailto:hair@davidrozman.co.uk">hair@davidrozman.co.uk</a> and this can be organised.</p>

        <p>Please note that David Rozman Ltd's payment platform terms and conditions are subject to change without notice at any time, and the current version of the terms and conditions are displayed on the company’s website.</p>

        <p>In the event of non-payment of any of the sums you agree to pay as outlined above, David Rozman Ltd reserves the right to pursue a recovery of those sums by instructing debt collectors, and / or issuing Court proceedings, and you agree to pay the costs, charges, Court costs, debt collector’s fees, legal costs, and any other expense arising as a result of having to pursue a recovery of payment.</p>
    </div>
