<% layout('dashboard.ejs') -%>
<%- include ../../dashboard/partials/header.ejs %>
<div class="page px-1 px-s-0">
    <div class=" p-2 mt-2 bg-white box-shadow" >
        <div class="list-item-wrap">

            <div  class="grid gap-1 col-12  ">
                <div class="text-bold colspan-3">
                    <label>Status</label>   
                </div>
                <div class="text-bold colspan-4">
                    <label>Delivery Charge</label>   
                </div>
               
                <div class="text-bold colspan-4">
                    <label>VAT</label>   
                </div>
                



                <div class="divider mb-1 colspan-12"></div>
            </div>
            <div id="timelineDiv">
            <form  id="updateSalonCharge">
            <div  class="grid gap-1 col-12 mb-1 " id="timelineRow">
                <div class="text-bold colspan-3 cell middle">
                    <select name="status" value="<%-status%>" id="">
                       <%if(status=="enable"){%>
                        <option  value="disable">Disable</option>
                        <option selected value="enable">Enable</option>
                        <%} else{%>
                            <option selected value="disable">Disable</option>
                            <option value="enable">Enable</option>
                            <%}%>
                       
                    </select>
                </div>
                <div class="text-bold colspan-4 cell middle">
                    <input onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 46" oninput="validity.valid||(value=''); if(value.includes('.')){if(value.split('.')[1].length > 2){value = value.slice(0,-1);}}" type="text" id="delivery" name="delivery" value="<%-delivery%>"  placeholder="0.00"  class="">
                </div>
                <div class="text-bold colspan-4 cell middle">
                    <input onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 46" oninput="validity.valid||(value=''); if(value.includes('.')){if(value.split('.')[1].length > 2){value = value.slice(0,-1);}}" type="text" id="vat" name="vat" value="<%-vat%>" placeholder="0.00" class="">
                </div>

                

                <!-- <div class="text-right flex flex-middle-right">
                    <a class="" id="close0"  ><span class="icon close black right"></span></a>
                </div> -->


                <div class="divider mb-1 colspan-12"></div>
            </div>
            
        </div>

        </div>
           
        <div class="text-left my-1 flex">
            <!-- <button class="dp-btn bg-primary" onclick="addNewRow()">Add More<span class="icon add white right"></span></button> -->
           
                <button type="submit" class="dp-btn bg-secondary">Update </button>
            
        </div>
    </form>
    </div>
</div>
<script>
   
		let form = document.getElementById("updateSalonCharge");
		form.addEventListener("submit", function(event) {
			event.preventDefault();
			let formData = new FormData(form);
            let body={
                vat:formData.get("vat"),
                delivery:formData.get("delivery"),
                status:formData.get("status")
            }
            fetch("/api/products/updateCharge", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(body)
      })
      .then(response => {response.text(); window.location.href =window.location.href })
			
		});
	
   
</script>