<% layout('dashboard.ejs') -%>

    <%- include ../../dashboard/partials/header.ejs %>

    <div class="page allReport" style="white-space: normal">

        <div class="grid col-12 col-m-3 col-s-1 gap-1 allReport-cards">
                    <!-- ----------- Percentage -->
            <div class="colspan-12  p-0">
                <h4 class="text-weight-700 mb-1">Set Commission</h4>
                <div class="divider  p-0"></div>
            </div>
            <div class="colspan-12" app-init="get('home_CMS','3785478')">
                <div class="list-item-wrap">
    
                    <div  class="grid gap-1 col-7 ">
                        <div class="text-bold colspan-3">
                        <label>Member's Product referral Percentage</label>   
                            <input type="text" placeholder="Enter 0-100 digits" oninput="validateInput(this)"  class="" app-model="home_CMS.share_percentage">
                            <div class="text-bold mt-1">
    
                            
                        </div>
                        </div>
                    
    
                        <div class="divider mb-1 colspan-7"></div>
                    </div>
    
                    <div  class="grid gap-1 col-7 ">
                        <div class="text-bold colspan-3">
                        <label>Service Commision Percentage</label>   
                            <input type="text" placeholder="Enter 0-100 digits" oninput="validateInput(this)" class="" app-model="home_CMS.service_commission_percentage">
                            <div class="text-bold mt-1">
    
                        
                        </div>
                        </div>
                
    
                        <div class="divider mb-1 colspan-7"></div>
                    </div>
    
                </div>
                <div class="text-left my-1">
                    <button class="dp-btn bg-secondary" app-click="addPercentage()">Submit</button>
                </div>
            </div>
        
        </div>

    </div>

  <script>
   function validateInput(inputField) {
  // Remove any non-digit characters from the input
  inputField.value = inputField.value.replace(/\D/g, '');
  
  // Parse the input value as a number
  const inputValue = parseInt(inputField.value);
  
  // Check if the input value is within the valid range
  if (inputValue < 1 || inputValue > 100) {
    // If the input is invalid, display an error message and prevent the form from submitting
    // alert("Please enter a number between 1 and 100");
    inputField.value = '';
    return false;
  }
  
  // If the input is valid, allow the form to submit
  return true;
}
  </script>