<% layout('dashboard.ejs') -%>

    <%- include('../../dashboard/partials/header.ejs') %>

    <div class="page" style="white-space: normal">

        <div>
            Report Saved
        </div>

    </div>
