<% layout('customer-page.ejs') -%>

    <div class="py-4 page grid col-12 col-s-1 client text-left">

        <div class="colspan-12 pr-2 pr-s-0 mb-s-2">

            <div class="bg-white rounded p-2">
                <h2 class="mb-1">Subscription Successful!</h2>
                <p class="mb-2">If we have any offers or promotions in the near future, we'll let you know</p>
                <p>If you did this in error, you can unsubscribe by clicking <a class="text-secondary" href="/unsubscribe/<%- email %>">here</a></p>
            </div>

        </div>

    </div>
