<% layout('customer-page.ejs') -%>

    <div class="py-4 page grid col-12 col-s-1 client text-left">

        <div class="colspan-12 pr-2 pr-s-0 mb-s-2">

            <div class="bg-white rounded p-2">
                <h2 class="mb-1">You have been removed from our mailing list</h2>
                <p class="mb-2">You have been unsubscribed from our mailing list, but will still continue to receive email notifications related to any future appointments you make with us.</p>
                <p>If you did this in error, you can re-subscribe by clicking <a class="text-secondary" href="/subscribe/<%- email %>">here</a></p>
            </div>

        </div>

    </div>
