
<div class="modal" app-show="view.modal == 'show_edit'" anim="{'enter':'fade-in'}">

    <div class="modal-body p-0 w-80 w-m-90" anim="{'enter':'move-up','duration':'0.2'}">

        <div class="modal-header text-primary">
            <!-- <div class="title">
                <p class="m-0" app-bind="new.name" app-show="new.name"></p>
                <p class="m-0" app-hide="new.name">Add New Service</p>
            </div> -->
            <div class="close">
                <!-- <span class="icon close white clickable" onclick="modalCloseAll()"></span> -->

                <div class="btn-wrap">
                    <!-- <button class="btn btn-left border mr-1 text-primary" app-click="view.tab = 'one'" app-class="{'active':view.tab == 'one'}">Details<span class="icon product black right"></span></button> -->
                    <button class="btn btn-mid border text-primary" app-click="view.tab = 'one'" app-class="{'active':view.tab == 'two'}">Tasks<span class="icon stylist black right"></span></button>
                    <!-- <button class="btn btn-right border text-primary" app-click="view.tab = 'three'" app-class="{'active':view.tab == 'three'}">Pricing<span class="icon checkout black right"></span></button> -->
                </div>
            </div>
        </div>

        <div class="modal-content p-2 overflow-y">

            <div class="grid col-3 gap-2  vh-50" app-show="view.tab == 'two'">

                <div>

                    <div class="mb-1">
                        <label class="block text-small">Service Name</label>
                        <input type="text" app-model="new.name" class="rounded">
                    </div>
                    <div class="mb-1 grid col-2 gap-2">
                        <div class="colspan-1">

                            <label>Service Image</label>
                            <label for="new_image" class="clickable">
                                <img src="/images/products/upload.svg" app-src="new.image" class="object-fit uploadMed">
                            </label>
                            <input type="file" app-model="new.image" id="new_image" class="app-hidden">
                        </div>
                        <div class="colspan-1">
                            <label>Service Icon</label>
                            <label for="new_image2" class="clickable">
                                <img src="/images/products/upload.svg" app-src="new.icon" class="object-fit uploadMed">
                            </label>
                            <input type="file" app-model="new.icon" id="new_image2" class="app-hidden">

                        </div>



                        <div class="colspan-1">
                            <label class="block text-small">Category</label>
                            <select app-model="new.category" app-show="salon.categories" class="rounded">
                                <option value="" selected>None</option>
                                <option app-value="category._id" app-for="category in salon.categories" app-bind="category.name"></option>
                            </select>
                            <a href="/dashboard/salon" class="text-primary italic" app-hide="salon.categories">Please add Service Categories</a>
                        </div>
                        <div class="colspan-1">
                            <label class="block text-small">Gender</label>
                            <select app-model="new.gender" class="rounded">
                                <option value="" selected>Both</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>

                        <div class="mb-1 colspan-2">
                            <label class="block text-small">Public or Private</label>
                            <select app-model="new.public" class="rounded">
                                <option value="true" selected>Public</option>
                                <option value="false">Private</option>
                            </select>
                        </div>

                        <!-- <div class="mb-1 colspan-2">
                            <label class="block text-small">Require Salon Confirmation</label>
                            <select app-model="new.salon_confirmation" class="rounded">
                                <option value="false" selected>No</option>
                                <option value="true">Yes</option>
                            </select>
                        </div> -->

                        <!-- <div class="mb-1 colspan-2">
                            <label class="block text-small">Require Skin Test</label>
                            <select app-model="new.skin_test" class="rounded">
                                <option value="false" selected>No</option>
                                <option value="true">Yes</option>
                            </select>
                        </div> -->

                    </div>

                </div>
                <div>
                    <div class="mb-1">
                        <label class="block text-small">Service Description</label>
                        <textarea app-model="new.description" placeholder="A brief description of the service, displayed to clients" class="rounded" style="height: 13rem"></textarea>
                    </div>
                    <div class="">
                        <label class="block text-small">Additional Information (optional)</label>
                        <textarea app-model="new.required_information" placeholder="Ask the client for more information for more complex services" style="height: 13rem" class="rounded"></textarea>
                    </div>
                </div>

                <div>
                    <label class="block text-small">Required Skills</label>
                    <div class="grid col-2 gap-1">
                        <% if (salon.skills){ %>
                            <% salon.skills.forEach((item,i)=>{ %>
                                <label class="text-black"><input type="checkbox" app-click="push(new.skills,'<%- item._id %>')" app-checked="inArray(new.skills,'<%- item._id %>')" class="mr-1"><%-item.name %></label>
                            <% }) %>
                        <% } %>
                    </div>

                    <% if (!salon.skills){ %>
                        <i>Please add skills in the Salon Service settings tab</i>
                    <% } %>

                </div>

            </div>

            <div class="vh-50" app-show="view.tab == 'one'">
                <div class="text-small">

                    <div class="grid col-7 gap-1">

                        <div class="colspan-3 pl-1">
                            <label>Task Name</label>
                        </div>
                        <div class="text-center"><label>Split %</label></div>

                        <div class="text-center"><label>Wait Time</label></div>

                        <div class="text-center"><label>Duration</label></div>

                        <div class="colspan-6"></div>

                    </div>
                    <div class="divider mb-1"></div>

                </div>

                <div class="list-item-wrap">

                    
                    <div app-for="item in new.service_tasks.service_tasks.service_items" class="grid gap-1 col-7 mb-1">

                        <div class="text-bold colspan-3">
                            <input type="text" app-model="item.name" placeholder="Name" class="">
                        </div>

                        <div class="text-bold">
                            <input type="text" app-model="item.split_percent" placeholder="%" class="text-left">
                        </div>

                        <div class="text-bold">
                            <input type="text" app-model="item.wait_time" placeholder="mins" class="text-left">
                        </div>

                        <div class="text-bold">
                            <input type="text" app-model="item.duration" placeholder="mins" class="text-left ">
                        </div>



                        <div class="text-right flex flex-middle-right">
                            <a class="" app-click="newServiceItem1('remove',{{index}})"><span class="icon close black right"></span></a>
                        </div>

                        <div app-show="item.wait_time" class="colspan-7 pt-05 pb-1 text-center text-grey itlalic text-small">Wait for <span app-bind="item.wait_time"></span> minutes</div>

                    </div>

                </div>

                <div class="text-right my-1">
                    <button class="btn border" app-click="newServiceItem1()">Add Task<span class="icon add black right"></span></button>
                </div>

            </div>

            <div class="grid col-1 gap-2 px-2 vh-50" app-show="view.tab == 'three'">


                <div class="grid col-2 gap-2">
                    <div>
                        <div class="mb-1">
                            <label class="block text-small">Cost Price</label>
                            <input type="number" app-model="new.cost_price" class="text-right rounded">
                        </div>

                        <div class="mb-1">
                            <label class="block text-small">Min Price</label>
                            <input type="number" app-model="new.min_price" class="text-right rounded">
                        </div>
                        <div class="mb-1">
                            <label class="block text-small">Max Price</label>
                            <input type="number" app-model="new.max_price" class="text-right rounded">
                        </div>

                        <div class="mb-1">
                            <label class="block text-small">Weekly Discount</label>
                            <input type="number" app-model="new.weekly_discount" class="text-right rounded">
                        </div>
                    </div>
                    <div>
                        <div class="mb-1" app-for="price in new.prices">
                            <label class="block text-small"><span app-bind="price.name"></span> Price</label>
                            <input type="number" app-model="price.value" class="text-right rounded">
                        </div>
                    </div>

                </div>


            </div>
            <div class="mb-2"></div>

        </div>


        <div class="modal-appointment-actions flex flex-middle-right">
            <a class="btn border" onclick="modalCloseAll()">Cancel <span class="icon close black right"></span></a><a class="btn bg-secondary" app-click="save('service_tasks',new,'<%- user._key%>')">Save <i class="fas fa-check ml-1"></i></a>
        </div>

    </div>


</div>
