
<section class="nav bg-primary" id="nav">

    <div class="@contain @flex">
        <div id="dupleHeader" class="dp-header bg-primary py-03">
            <div class="container">
                <div class="dp-header-sec dp-list">
                    <div class="dp-logo"><img src="/icons/logo.svg"></div>
                    <div class="dp-header-menu dp-list">
                        <ul id="menuToggle" class="dp-header-menu-list duple-menu text-underline-none list-no-style p-0 m-0 dp-list mobMenuHide">
                            <li><a aria-current="page" class="active" href=" http://143.244.139.198/">Home</a></li>
                            <li class="divi">
                                <span></span>
                               </li>
                            <li><a class="" href="http://143.244.139.198:9092/member/signup">Join Us</a></li>
                            <li class="divi">
                                <span></span>
                               </li>
                            <li class="preview-subMenu profile-dropdown-toggle@ sub-menu-hover">
                                <div class="dp-dropdown dropdown-menu profile-dropdown"><a
                                        class="position-relative sub-menu-hover-link" ><span> Appointment </span><i
                                            class="fa fa-caret-down ml-10" aria-hidden="true"></i></a>
                                            <div class=" menu@ dp-dropdown-box left-arr dropdown-arr p-1 bg-white dropdown-menu-box box-shadow sub-menu-hover-dropdown">
                                                <ul class=" text-underline-none list-no-style p-0 position-relative">
                                                    <li class="sub-menu-hover-child">
                                                        <a
                                                        to=""
                                                        class="dp-color-black"
                                                        >
                                                        Book By Service 
                                                    </a>
                                                        <div class=" menu@ dp-dropdown-box p-1 bg-white dropdown-menu-box box-shadow sub-menu-hover-child-dropdown">
                                                            <ul class="text-underline-none list-no-style p-0">
                                                                <li><a class="dp-color-black" href="http://143.244.139.198/services/mens-hair-services">Men's Hair</a></li>
                                                                <li><a class="dp-color-black" href="http://143.244.139.198/services/balayage-hair-colour">Balyage</a></li>
                                                                <li><a class="dp-color-black" href="http://143.244.139.198/services/creative-colouring">Creative Colouring</a></li>
                                                                <li><a class="dp-color-black" href="http://143.244.139.198/services/hair-loss-system">Hair Loss</a></li>
                                                                <li><a class="dp-color-black" href="http://143.244.139.198/services/colour-correction">Colour Correction</a></li>
                                                                <li><a class="dp-color-black" href="http://143.244.139.198/services/keratin-smoothing">Keratin Smoothing</a></li>
                                                                <li><a class="dp-color-black" href="http://143.244.139.198/services/ladies-hair-services">Ladies Hair</a></li>
                                                            </ul>


                                                        </div>
                                                    </li>
                                                    <li class="sub-menu-hover-child">
                                                        <a
                                                        href="http://143.244.139.198/member-list"
                                                        class="dp-color-black"
                                                        >
                                                        Book By Member
                                                    </a>
                                                    </li>
                                                
                                            </ul>
                                            </div>
                                </div>
                            </li>
                            <li class="divi">
                              
                                <span></span>
                              </li>
                          
                            <li><a class="" href="http://143.244.139.198/cafe"> Cafe Bar </a></li>
                            <li class="divi">
                              
                                <span></span>
                              </li>
                            <li><a class="" href="http://143.244.139.198/products"> Store </a></li>
                            <li class="divi">
                              
                                <span></span>
                              </li>
                            <!-- <li><a class="" href="http://143.244.139.198/member-list">Members </a></li> -->
                            <li><a class="" href="http://143.244.139.198/contact">Contact </a></li>
                         
                            <!-- <li>
                                <div class="dp-dropdown dropdown-menu ">
                                    <div class="dp-dropdown-link position-relative "><span><i class="fa fa-bell"
                                                aria-hidden="true"></i></span>
                                        <div class="d-none menu@ dp-dropdown-box p-1 bg-white dropdown-menu-box box-shadow">
                                            <div class="p-50">
                                                <div class="notification-card notification-contain undefined dp-bg-undefined">
                                                    <div class="notification-box notification-box-contain">
                                                        <div class="notification-card-title mb-1 dp-color-black">Order has been
                                                            Delivered</div>
                                                        <div class="divider mb-2 mt-2"></div>
                                                        <div class="notification-card-desrip mb-1 dp-color-black">Lorem Ipsum
                                                            has been the industry's </div><span
                                                            class="notification-card-time dp-color-black">12 minutes ago</span>
                                                    </div>
                                                    <div class="divider mb-2 mt-2"></div>
                                                </div>
                                                <div class="notification-card notification-contain undefined dp-bg-undefined">
                                                    <div class="notification-box notification-box-contain">
                                                        <div class="notification-card-title mb-1 dp-color-black">Order has been
                                                            cancel</div>
                                                        <div class="divider mb-2 mt-2"></div>
                                                        <div class="notification-card-desrip mb-1 dp-color-black">Lorem Ipsum
                                                            has been the industry's standard dummy text ever since the 1500s
                                                        </div><span class="notification-card-time dp-color-black">4 minutes
                                                            ago</span>
                                                    </div>
                                                    <div class="divider mb-2 mt-2"></div>
                                                </div>
                                                <div class="notification-card notification-contain undefined dp-bg-undefined">
                                                    <div class="notification-box notification-box-contain">
                                                        <div class="notification-card-title mb-1 dp-color-black">Order has been
                                                            cancel</div>
                                                        <div class="divider mb-2 mt-2"></div>
                                                        <div class="notification-card-desrip mb-1 dp-color-black">Lorem Ipsum
                                                            has been the industry's standard dummy text ever since the 1500s
                                                        </div><span class="notification-card-time dp-color-black">4 minutes
                                                            ago</span>
                                                    </div>
                                                    <div class="divider mb-2 mt-2"></div>
                                                </div>
                                                <div class="mt-20"><a class="dp-color-black d-flex align-items-center"
                                                        href="/notification"><span>See More</span><i
                                                            class="fa fa-long-arrow-right ml-1" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-none overlay" id="overlay"></div>
                                </div>
                            </li> -->
                            <!-- <li class="right-menu-list preview-subMenu right-menu-list-ico"><a class="d-flex align-items-center"
                                    href="/cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span><span class="cart-num"> (0)</span></a></li>
                            <li class="right-menu-list" aria-describedby="popup-1"><a class=" dp-color-white "> Login</a></li> -->
                            <!-- <li class="pb-0" aria-describedby="popup-2"><a href="http://143.244.139.198/member-list" class="dp-btn bg-secondary color-white dp-btn-glow "> Book
                                    Now</a></li>
                            <li class="pb-0"><a class="dp-btn bg-secondary color-white dp-btn-glow "
                                    href="http://143.244.139.198:9092/login/member" target="_blank"> Member Login</a></li> -->
                            
                        </ul>
                        <div onclick="menuStatus()" class="pb-0 position-relative menuToggle" style="z-index: 999999;">
                            <a class="color-white " > 
                            <i id="menuToggleIco" class="fa fa-bars" aria-hidden="true"></i> </a>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="nav-logo">
        </div>
        <div class="nav-items">     

        </div> -->
        <div class="burger" onclick="scope.openNav()">
            <img src="/icons/burger.svg">
        </div>
    </div>

</section>

<script>
    function menuStatus(){
        let menuToggle = document.getElementById("menuToggle")
        menuToggle.classList.toggle("active")

        let menuToggleIco = document.getElementById("menuToggleIco")
        menuToggleIco.classList.toggle("fa-times-circle")
        
    }
</script>

