<% layout('customer-page.ejs') -%>


<div class="vh-80 flex flex-middle">
    <div class="vw-30 vw-s-100 px-s-2 text-center">

        To book an appointment, please call the salon

    </div>
</div>
